body {
  font-family: "Circular Std", sans-serif;
  color: $black-color;
  font-size: $font-md;
}

.container {
  max-width: 1330px;
  height: 100%;
  padding: 0 55px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black-color;

  &:hover {
    color: black;
  }
}

.item-column-gap {
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media (max-width: $breakpoint-xl) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: $breakpoint-lg) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: $breakpoint-md) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    max-width: 320px;
  }
}