.main {

  @media (min-width: $breakpoint-lg) {
    .explore-button-offcanvas {
      display: none;
    }
  }

  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-lg) {
    .explore {
      display: none;
    }
  }

  @media (max-width: $breakpoint-md) {
    .bg-df {
      background-position: center center;
    }
  }
}