.header {
  padding-top: 46px;

  .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .col-left {
      display: flex;
    }
  }
  
  &__img {
    margin-right: 120px;
  }

  &__search-box {
    display: flex;
    align-items: center;

    .header__input {
      height: 100%;
      padding-left: 20px;
      border: none;
    }
  }

  &__menu-list {
    font-size: $font-xl;

    ul {
      column-gap: 40px;

      .active a {
        border-bottom: 2px solid #000;
      }

      :not(.active) a:not([type="icon"]):hover {
        transition: 0.3ms;
        border-bottom: 2px solid #000;
      }

      [type="icon"] {
        font-size: 20px;
      }
    }
  }

  .form-control {
    border: none;
  }

  .navbar-collapse {
    form {
      input::placeholder {
        color: $gray-color;
      }
    }
  }
}