@media (max-width: $breakpoint_xxl) {
  .header {
    .container {
      max-width: 1024px;
    }
  }
}

@media (max-width: $breakpoint_xl) {
  .header {
    .container {
      max-width: 768px;

      .col-right {
        display: none;
      }
    }
  }
}

@media (max-width: $breakpoint_md) {
  .header {
    .container {
      max-width: 576px;

      .row {
        justify-content: center;
      }
    }
  }
}

@media (max-width: $breakpoint_sm) {
  .header {

    .container {
      max-width: 320px;
      padding: 0 15px;

      .row {
        display: block;
        text-align: center;

        .col-left {
          display: block;
          text-align: center;
          .header__img {
            margin-right: 0;
            margin-bottom: 30px;
          }

          .header__search-box {
            justify-content: center;
          }
        }
      }
    }
  }
}