.header {

  //@media (max-width: $breakpoint_xxl) {
  //}

  @media (max-width: $breakpoint_xl) {
    .col-right {
      display: none;
    }
  }

  //@media (max-width: $breakpoint_md)
  //}

  @media (max-width: $breakpoint_sm) {
    .row {
      display: block;
      text-align: center;

      .col-left {
        display: block;
        text-align: center;
        .header__img {
          margin-right: 0;
          margin-bottom: 30px;
        }

        .header__search-box {
          justify-content: center;
        }
      }
    }
  }
}